.main-container {
    overflow: hidden;
}

.main-category {
    width: 100%;
}

.main-title {

    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;

}

ul {
    list-style-type: none;
}

.product {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    justify-content: center;



}





.img-pcipal {
    margin: 1rem;


    object-fit: cover;


    overflow: hidden;
    flex-grow: 1;
}

.product-header {
    flex-grow: 1;
}

#img-pcipal {
    width: 100%;
}


.product-body {
    width: 500px;
    overflow: hidden;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    border: 3px solid white;
    border-radius: 5px;
    background-color: #f0e8e08e;
}

.description {
    text-align: justify;


}

.product-description {
    margin: 0;
    padding-left: 0;
}

.card-footer {

    margin: 0;
    padding: 0;


}

.Qty {
    margin: 0;


}

.details {
    flex-grow: 1;
}

.input-qty {
    height: 50px;
    width: 50px;
    border-style: none;
}

.btn-cat {
    height: 50px;
    width: 50px;
}


@media (width < 768px) {

    .product {
        flex-direction: column;

        align-items: center;
    }

    ;

    .img-pcipal {
        width: auto;
    }

    .product-body {
        width: auto;

        display: flex;
        flex-direction: column;

    }
}