:root {
    --primary-color: #f0e8e0;
    --primary-transp: #f0e8e08e;
    --secondary-color: #382F28;
    --third-color: #cebeaf;
    --text-light: #e8d9ca;
    --light-transparency: #e8d9ca98;
    --font: 'Open Sans', sans-serif;
    --font-secondary: 'victor';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    
}
.main-container-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
    padding: 6rem 2rem;
    height: auto;
    
}
.input-container{width: 100%;}
.main-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
    padding: 6rem 2rem;
    height: auto;

    
    
    
}
.section-register{margin: 0;
    padding: 0;
 
    height: 100%;
    
    
    }
.user-register {

    text-align: center;
    color: var(--secondary-color);
    width: auto;
     border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 2rem;
   
   




}


form {
    width: 300px;
    background-color: #f0e8e0;
    position: relative;
    height: auto;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
   




}
.form-label {
    display: block;
    margin: 5px;
    margin: 15px 0 5px;

}


.btn-table {
    background-color: var(--text-light);
    width: auto;
    border-radius: 5px;
    border: 0;
    color: var(--secondary-color);
    margin-top: 1rem;
    box-shadow: 0 0 10px var(--text-light);
    padding:10px;
    margin: 30px 0 20px;
    height: 33px;
}


.btn-table:hover {
    background-color: white;

}

select {
    width: 215px;
}



.group {
    outline: none;
    border: 1px solid white;
    transition: outline 0.5s ease;
    padding: 8px 5px;
    background-color: white;
    color: var(--secondary-color);
    width: 250px;
    border-radius: 3px;
    box-sizing: border-box;
    resize: none;

}

.group:focus {
    outline: 2px solid var(--third-color);
    box-shadow: 0 0 10px var(--third-color);

}


.btn-form {
    background-color: var(--text-light);
    width: 100%;
    border-radius: 5px;
    border: 0;
    color: var(--secondary-color);
    margin-top: 1rem;
    box-shadow: 0 0 10px var(--text-light);
    padding: 8px 5px;
    margin: 30px 0 20px;
    height: 33px;

    
}


.btn-form:hover {
    background-color: white;

}

@media screen and (width < 400px) {
    .user-register {
        width: 100%;




    }


    .group {
        width: 100%;
    }

}
@media screen and (width < 1024px) {
    .main-container{
        flex-direction: column;
    }
}



#table-body{background-color: var(--primary-color);
   text-align: center;
}
td{
    padding: 0 1rem;
    width: 200px;
}
th{background-color: var(--third-color);
padding: 1rem;}
.image-table img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    padding: 1rem;
}
.table tbody tr:nth-child(odd) {
    background-color:var(--light-transparency); 
}
.input-container{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    
}
#search{
    outline: 2px solid var(--third-color);
    box-shadow: 0 0 10px var(--third-color);
    margin-bottom: 0.50rem;
}
@media screen and (width < 1024px) {
    .main-container {
       
        flex-direction:column;
    }
    th, td {
        display: block;
        width: 100%;
        box-sizing: border-box;
      }

}
.table{padding-bottom: 2rem;
margin-top: 2rem;}
.table-user{
    
    height: 100%;
    
    
    
    
    
    }
